<%- include('./includes/head.ejs') %>
<link href="/style/admin/setting.css" rel="stylesheet" />
<%- include('./includes/navbar.ejs') %>

			<ul class="setting">
                <h2 class="setting_header">Menus </h2>
                <li><a href="/admin/setting/admins">  admin list </a></li>
                <li><a href="/admin/setting/addAdmin">  add admin </a></li>
                <li><a href="/admin/setting/updateProfile">  edit profile </a></li>
                <li><a href="/admin/setting/getImageChange"> Change Image </a></li>
            </ul>
		
	</body>
</html>
